
@model Wvy.Models.AdvancedSearch
@{
    Title = "Search Results";
}


@section navbar_middle {
    
}

@section navbar_secondary {

}
<a class="btn btn-icon btn-link px-0 d-standalone" href="@Model.Referrer" data-turbolinks="false">
    <svg class="i">
        <use xlink:href="#arrow-left"></use>
    </svg>
    <span>Back</span>
</a>

<div class="container text-center my-4">
    <div class="mb-4 d-flex flex-column align-items-center mx-auto align-self-center">
        @Html.IconImg(32)
    </div>
    <form action="/apps/@Model.AppId/df8beb98-7dd5-4c40-93bc-3da22d03d616/search" method="get" data-turboform>
        <div class="form-group" role="search">
            <input class="form-control" type="search" name="q" value="@Model.Query" placeholder="Search" />
            @if (Model.Query.IsNullOrEmpty())
            {
                <button type="submit" class="btn btn-icon">@Html.SvgIcon("magnify")</button>
            }
            else
            {
                <a href="/apps/@Model.AppId/df8beb98-7dd5-4c40-93bc-3da22d03d616/search" class="btn btn-icon">@Html.SvgIcon("close")</a>
            }
        </div>
    </form>
</div>

<div class="container my-4">
    @if (Model.SearchResults.Count > 0)
    {
        <nav class="nav nav-tabs mb-4">
            <a href="#nav-tab-everything" class="nav-link active">Everything</a>
            <a href="#nav-tab-posts" class="nav-link disabled">Posts</a>
            <a href="#nav-tab-comments" class="nav-link disabled">Comments</a>
        </nav>
    }

    @if (Model.SearchResults.Count == 0 && !string.IsNullOrEmpty(Model.Query))
    {
        <p>Your search - <strong>@Model.Query</strong> - did not match anything.</p>
        <p>Suggestions:</p>
        <ul>
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try different keywords.</li>
            <li>Try more general keywords.</li>
            <li>Try fewer keywords.</li>
        </ul>
    }
    
</div>
<div id="nav-tab-everything" class="container my-4">
    <ul>
        @foreach (var result in Model.SearchResults)
        {
            <li>@result.IndexEntityType.ToString() : @result.SearchText</li>
        }
    </ul>
</div>

@section footer {

}




